<p id="notice"><%= notice %></p>

<h1 align="center"> Mods</h1><hr>


  <!--<thead>
    <tr>
      <th>Name</th>
      <th>Flavor</th>
      <th colspan="3"></th>
    </tr>
  </thead>-->


<div class="group">
  <div class="cheese">
    <p>Cheese</p>
  </div><hr>

  <% @mods.each do |mod| %>

  <tbody>
  <table id="items">
    <% if mod.name == 'Cheese' %>
    <tr>
      <td><%= mod.flavor %></td>


        <td>
            <label class="switch">
            <input type="checkbox">
            <span class="slider round"></span>
          </label>

       </td>
    </tr>


  <% end %>

  <% end %>


  </table>
  </tbody>
</div>

<div class="group">
  <div class="cheese">
    <p>Chile Sauce</p>
  </div><hr>

  <% @mods.each do |mod| %>

    <tbody>
    <table id="items">
      <% if mod.name == 'Chile Sauce' %>
        <tr>
          <td><%= mod.flavor %></td>


          <td>
            <label class="switch">
              <input type="checkbox">
              <span class="slider round"></span>
            </label>

          </td>
        </tr>


      <% end %>

  <% end %>


  </table>
  </tbody>
</div>

<div class="groupsingle">


  <% @mods.each do |mod| %>

    <tbody>
    <table id="items">
      <% if mod.name != 'Chile Sauce' && mod.name != 'Cheese' %>
        <tr>
          <td><%= mod.name %></td>


          <td>
            <label class="switch">
              <input type="checkbox">
              <span class="slider round"></span>
            </label>

          </td>
        </tr>


      <% end %>

  <% end %>


  </table>
  </tbody>
</div>





<%#= link_to 'New Mod', new_mod_path %>
