// Place all the styles related to the tables controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

table {
  border-collapse: separate;
  border-spacing: 0 10px;
  margin-top: -10px;
}

.tables_index td {
  border: solid 2px #000;
  border-style: solid none;
  padding: 30px;
  background-color: lightgreen;
  height: 50px;
  width: 80px;
}

.tables_index td:first-child {
  border-left-style: solid;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;

}

.tables_index td:last-child {
  border-right-style: solid;
  border-bottom-right-radius: 20px;
  border-top-right-radius: 20px;
}

.side_by_side{
  max-width: 900px;
  height: 425px;
  margin: auto;
  border: 2px solid black;
  border-radius: 10px;
}
.all-tables{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  float: left;
  width: 100%;
  max-width: 700px;
  padding: 10px;
}

.table_flex{
  flex: 1 0 20%; /* explanation below */
  margin-bottom: 30px;
  height: 100px;
  text-align: center;
}

.all-tables::after {
  content: "";
  margin-right: auto;
}

.new-table-button{
  border: 1.5px solid black;
  padding: 10px;
  background-color: white;
  width: 120px;
  height: 50px;
  margin-bottom: 90px;
  border-radius: 20px;
  a:link{
    color:black;
  }
  a:active{
    color: black;
  }
  a:visited {
    color: #000;
  }
}

.side-nav-button{
  float: right;
  padding: 10px;
  height: 400px;
  margin-right: 40px;
  margin-top: 10px;
  margin-bottom: -10px;
  a:link{
    color: black;
    text-decoration: none;
  }
}

.categories{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: flex-start;
  float: right;
}

.items_flex{
  flex: 1 0 20%; /* explanation below */
  margin: 15px;
  height: 100px;
  margin-bottom: 30px;
  max-width: 100px;
}


.items_index td{
  border: 1.5px solid black;
  padding: 10px;
  background-color: lightgrey;
  width: 120px;
  height: 120px;
  margin-bottom: 30px;
  border-radius: 20px 3px;
}


#center {
  min-width: 30%;
  max-width: 40%;
  position: relative;
  left: 50%;
  transform: translate(-50%, 50%);
  border: 1px solid darkgray;
  background-color: #f0f0f0;
}

#center p {
  text-align: center;
  margin-top: 30px;
}

hr {
  border-color: gray;
  color: gray;
}

h1 {
  text-align: center;
  margin-top: 30px;
  margin-bottom: -15px;
}

.centers {
  margin: auto;
  width: 60%;
  padding: 10px;
}

.linkleft {
  float: left;
}

#addtable{
  background-color: cornflowerblue;
  a:link{
    color: black;
  }

  a:active{
    color: black;
  }
}

#navBack{
  background-color: lightgray;
  border-radius: 20px;
}
.compress{
  height: 50px;
  width: 50px;
}

.actions {
  margin-top: 8px;
}


.table_receipt {
  border: 2px solid black;
  float: left;
  width: 350px;
  height: 600px;
}

#receipt_table {
  margin: 0;
  border-spacing: 0;
  width: inherit;
}

#receipt_table th {
  background-color: #E8E3E3;

.dash-board{
  float: left;
  width: 600px;
  background-color: lightgray;
  border-radius: 20px;
  height: 80px;

}

.dash-buttons{
  border: 1.5px solid black;
  padding: 10px;
  width: 120px;
  height: 50px;
  border-radius: 20px;
}


#send{
  margin-left: 30px;
  margin-top: 12px;
  text-align: center;
  font-size: larger;
  background-color: green;
  font-weight: bolder;
}

#close{
  margin-left: 180px;
  margin-top: -50px;
  text-align: center;
  font-size: larger;
  background-color: red;
  font-weight: bolder;
}

#mods{
  margin-left: 320px;
  margin-top: -50px;
  text-align: center;
  font-size: larger;
  background-color: orange;
  font-weight: bolder;
}

#receipt{
  margin-left: 460px;
  margin-top: -50px;
  text-align: center;
  font-size: larger;
  background-color: cornflowerblue;
  font-weight: bolder;

}

