// Place all the styles related to the tables controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

table {
  border-collapse: separate;
  border-spacing: 0 10px;
  margin-top: -10px; /* correct offset on first border spacing if desired */
  height: 50px;
  text-align: center;
}

.tables_index td {
  border: solid 2px #000;
  border-style: solid none;
  padding: 30px;
  background-color: lightgreen;
  height: 50px;
  width: 100px;
}

.tables_index td:first-child {
  border-left-style: solid;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;

}

.tables_index td:last-child {
  border-right-style: solid;
  border-bottom-right-radius: 20px;
  border-top-right-radius: 20px;
}

.side_by_side{
  max-width: 700px;
  margin: auto;
}
.all-tables{
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: flex-start;
  float: left;
  width: 100%;
  max-width: 550px;
}

.table_flex{
  flex: 1 0 15%; /* explanation below */
  margin-bottom: 20px;
  height: 100px;
  text-align: center;
}

.new-table-button{
  border: 1.5px solid black;
  padding: 10px;
  background-color: lightgrey;
  width: 120px;
  height: 120px;
  margin-bottom: 15px;
  border-radius: 20px 3px;
}

.side-nav-button{
  float: right;
}

.categories{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: flex-start;
  float: right;
  width: 70%;
}

.items_flex{
  flex: 1 0 21%; /* explanation below */
  margin: 5px;
  height: 100px;
  margin-bottom: 30px;
}


.items_index td{
  border: 1.5px solid black;
  padding: 10px;
  background-color: lightgrey;
  width: 120px;
  height: 120px;
  margin-bottom: 30px;
  border-radius: 20px 3px;
}

#center {
  min-width: 30%;
  max-width: 40%;
  position: relative;
  left: 50%;
  transform: translate(-50%, 50%);
  border: 1px solid darkgray;
  background-color: #f0f0f0;
}

#center p {
  text-align: center;
  margin-top: 30px;
}

hr {
  border-color: gray;
  color: gray;
}

h1 {
  text-align: center;
}

.centers {
  margin: auto;
  width: 60%;
  padding: 10px;
}

.linkleft {
  float: left;
}