// Place all the styles related to the tables controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

table {
  border-collapse: separate;
  border-spacing: 0 10px;
  margin-top: -10px; /* correct offset on first border spacing if desired */
}

.tables_index td {
  border: solid 2px #000;
  border-style: solid none;
  padding: 30px;
  background-color: lightgreen;
}

.tables_index td:first-child {
  border-left-style: solid;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;

}

.tables_index td:last-child {
  border-right-style: solid;
  border-bottom-right-radius: 20px;
  border-top-right-radius: 20px;
}

.all-tables{
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: flex-start;
  float: left;
  width: 70%;
}

.table_flex{
  flex: 1 0 21%; /* explanation below */
  margin-bottom: 20px;
  height: 100px;
}

.new-table-button{
  border: 1.5px solid black;
  padding: 10px;
  background-color: lightgrey;
  width: 120px;
  height: 120px;
  margin-bottom: 15px;
  border-radius: 20px 3px;
}

.side-nav-button{
  float: right;
}

.categories{
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: flex-start;
  //float: left;
  width: 70%;
}

.items_flex{
  flex: 1 0 21%; /* explanation below */
  margin: 5px;
  height: 100px;
  margin-bottom: 30px;
}


.items_index td{
  border: 1.5px solid black;
  padding: 10px;
  background-color: lightgrey;
  width: 120px;
  height: 120px;
  margin-bottom: 30px;
  border-radius: 20px 3px;
}
