
<% @cat_id = Menuitem.all.where(category_id: @category_id) %>

<div class="fooditems">
  <% @cat_id.each do |item| %>

    <div class="food_flex">
      <div class="food_image"><%= image_tag("#{item.name}.png", class: "item_images") %></div>
      <div class="food_text"><%= item.name %></div>
      <div class="food_price"><%= "$#{item.price}" %></div>
    </div>
  <% end %>
</div>