
<% @cat_id = Menuitem.all.where(category_id: @category_id) %>

<div class="fooditems">
  <% @cat_id.each do |item| %>
    <div class = "food_flex">
      <table class="food_index">
        <tbody>
        <td><%= item.name %></td>
         <td><%= item.price %><br></td>
         </tr>
        </tbody>
      </table>
    </div>
  <% end %>
</div>