<% provide(:title, "Log in") %>
<div id="login">
<h1>Log in</h1><hr>

  <%= form_for(:session, url: '/login') do |f| %>
    <p><%= f.text_field :pin, class: 'form_control', placeholder: 'PIN Number'%></p>

    <p><%= f.submit "Log in", class: "btn btn-primary" %></p>
  <% end %>
</div>


